.ce-btn-sprint-create {
    margin-top: 15px;
}

.ce-box {
    display: flex;
    margin-top: -1px;
}
  
.ce-btn-left {
    flex: 1;  /* grow */
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    text-align: left;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.ce-btn-right {
    flex: 0 0 40px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
} 

.ce-space {
    margin-top: 15px;
}

.ce-alert-top {
    margin: 0 0 15px;
}

.ce-alert-bottom {
    margin: 15px 0 0;
}